* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #141516;
  font-family: "EB Garamond", serif;
  background: #FAFAFA;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 5px;
  height: inherit;
}

@media screen and (max-width: 414px) {
  .wrapper {
    width: 95%;
    padding: 0;
  }
}

.wrapper-mini {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .wrapper-mini {
    width: 100%;
    margin: 0;
  }
}

.text {
  line-height: 1.5;
  font-size: 1.2em;
}

.text--disclaimer {
  text-align: center;
  margin: 0px;
}

.text--disclaimer:nth-of-type(1) {
  margin-top: 25px;
}

.hero {
  color: #FFF;
  height: 80vh;
  background: #3949ab;
  background-image: url("../img/disney-castle.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.hero__video {
  min-width: 100%;
  max-width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1px;
}

.hero__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.hero__content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 150px);
}

@media screen and (max-width: 414px) {
  .hero {
    height: 75vh;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Barlow Condensed", sans-serif;
  min-height: 150px;
}

.header__logo {
  width: 150px;
}

@media screen and (max-width: 414px) {
  .header {
    min-height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
  * Address Firefox 3+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
button,
input {
  line-height: normal;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
  * Correct `select` style inheritance in Firefox 4+ and Opera.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *    and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *    `input` and others.
  * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
  *    Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * 1. Address box sizing set to content-box in IE 8/9.
  * 2. Remove excess padding in IE 8/9.
  * 3. Remove excess padding in IE 7.
  *    Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
  *    (include `-moz` to future-proof).
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
  * Remove inner padding and search cancel button in Safari 5 and Chrome
  * on OS X.
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Remove inner padding and border in Firefox 3+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * 1. Remove default vertical scrollbar in IE 6/7/8/9.
  * 2. Improve readability and alignment in all browsers.
  */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.u-highlighter {
  border: 2px solid #141516;
  -webkit-box-sizing: initial;
          box-sizing: initial;
  padding: 20px 0px;
  margin: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-alert {
  text-align: center;
  color: #c62828;
  font-size: 1.2em;
}

.c-alert__message {
  display: inline-block;
  border: 3px solid #c62828;
  padding: 10px 20px;
}

@media screen and (max-width: 414px) {
  .c-alert {
    font-size: 14px;
  }
  .c-alert__message {
    padding: 10px 15px;
  }
}

.c-burger-button {
  position: fixed;
  right: 5px;
  -webkit-box-sizing: initial;
          box-sizing: initial;
  padding: 10px;
  border-radius: 50%;
  display: none;
  z-index: 999;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.c-burger-button__line {
  width: 25px;
  height: 5px;
  background: #141516;
  margin: 4px;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.c-burger-button__line--1.active {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
          transform: rotate(-45deg) translate(-6px, 6px);
  background: #3949ab;
}

.c-burger-button__line--2.active {
  opacity: 0;
}

.c-burger-button__line--3.active {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
          transform: rotate(45deg) translate(-6px, -6px);
  background: #3949ab;
}

@media screen and (max-width: 414px) {
  .c-burger-button {
    display: block;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
}

.c-navbar {
  font-size: 1.4em;
}

.c-navbar--hero {
  text-shadow: 0px 0px 1px #000000;
}

.c-navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.c-navbar__item {
  margin-right: 15px;
}

@media screen and (max-width: 414px) {
  .c-navbar {
    color: #FFF;
    position: fixed;
    z-index: 10;
    background: #3949ab;
    top: 0;
    right: -50vw;
    width: 50vw;
    height: 100vh;
    -webkit-box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.15);
            box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  }
  .c-navbar--hero {
    text-shadow: none;
  }
  .c-navbar--active {
    right: 0;
  }
  .c-navbar__list {
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-navbar__item {
    opacity: 0;
    margin: 15px 0;
  }
}

.c-heading {
  font-size: 16px;
}

.c-heading--main {
  text-align: center;
  font-size: 24px;
  line-height: 1;
  text-shadow: 0px 0px 1px #000000;
}

.c-heading--inverted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.c-heading__subtitle {
  font-size: 1.4em;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.c-heading__title {
  font-family: "EB Garamond", serif;
  font-size: 4em;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .c-heading {
    font-size: 10px;
    text-align: center;
  }
}

.c-cta {
  margin-top: 1.5em;
  -webkit-box-sizing: initial;
          box-sizing: initial;
  font-size: 1.5em;
  text-decoration: none;
  color: #FFF;
  background: rgba(0, 0, 0, 0.3);
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 2px solid #FFF;
  padding: 12px 24px;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}

.c-cta:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.c-cta--inner {
  text-align: center;
  min-width: 50px;
  color: #FFF;
  border-color: #141516;
  background: #141516;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.c-cta--inner:hover {
  background: #141516;
  color: #FFF;
}

.c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-card__element {
  width: 48%;
  margin: 0 1%;
}

.c-card__img {
  width: 100%;
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.c-card__img--vertical {
  max-height: initial;
}

.c-card__title {
  font-size: 2.5em;
  margin: 0;
}

.c-card__text {
  font-size: 1.3em;
}

.c-card__link {
  color: #141516;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

@media screen and (max-width: 768px) {
  .c-card {
    font-size: 14px;
  }
}

@media screen and (max-width: 414px) {
  .c-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .c-card--inverted {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-card__element {
    width: 100%;
  }
  .c-card__title, .c-card__subtitle {
    text-align: center;
  }
}

.trip {
  margin-top: 50px;
  margin-bottom: 150px;
}

@media screen and (max-width: 414px) {
  .trip {
    margin: 25px 0px;
  }
}

.description {
  margin-top: 25px;
  margin-bottom: 70px;
}

.packages-container {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

@media screen and (max-width: 414px) {
  .packages-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.c-package {
  text-align: center;
}

.c-package__title {
  font-size: 1.5em;
}

.c-package__price {
  font-size: 3.5em;
  margin: 0;
}

.c-package__tax {
  font-size: 1.6em;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1px;
}

.c-package__lists-container {
  padding-top: 25px;
  border-top: 1px solid #BDBDBD;
}

.c-package__list {
  text-align: left;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
}

.c-package__list-item {
  font-size: 1.2em;
  margin: 12px 0;
  list-style-position: inside;
}

.c-package__list-item--unbullet {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .c-package {
    font-size: 14px;
  }
  .c-package__title {
    margin: 0;
  }
  .c-package__list-item {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 414px) {
  .c-package {
    border-bottom: 1px solid #BDBDBD;
    margin-top: 30px;
  }
  .c-package__lists-container {
    border: none;
  }
}

.highlight {
  padding: 0 5px;
  background-color: #fff2ac;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffe359), to(#fff2ac));
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

::-moz-selection {
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

::selection {
  background-color: #fff2ac;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffe359), to(#fff2ac));
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

.c-footer {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.c-footer__text-container {
  margin: 20px 0;
}

.c-footer__text-container--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-footer__link {
  color: #141516;
  text-decoration: none;
  margin: 5px;
}

.c-footer__link:hover {
  text-decoration: underline;
}

.c-footer__link--facebook:hover {
  color: #4968AD;
}

.c-footer__link--instagram:hover {
  color: #962fbf;
}

@media screen and (max-width: 768px) {
  .c-footer {
    font-size: 14px;
  }
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0px 50px;
}

@media screen and (max-width: 414px) {
  .features {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-feature {
  font-family: "EB Garamond", serif;
  -webkit-box-sizing: initial;
          box-sizing: initial;
  padding: 30px 0;
}

.c-feature__subtitle {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.c-feature__subtitle--purple {
  color: #5e35b1;
}

.c-feature__subtitle--blue {
  color: #1565c0;
}

.c-feature__title {
  font-size: 2em;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

.c-feature__text {
  line-height: 2;
  margin: 20px 0;
}

.c-feature__cta {
  color: #141516;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

.c-feature__cta:hover {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .c-feature {
    font-size: 14px;
  }
  .c-feature__subtitle {
    margin: 2px 0;
  }
  .c-feature__text {
    margin: 5px 0;
  }
}

@media screen and (max-width: 414px) {
  .c-feature {
    font-size: 14px;
    padding: 40px 0;
    border-bottom: 1px solid #BDBDBD;
  }
  .c-feature__text, .c-feature__cta {
    font-size: 1.3em;
  }
}

.c-form {
  padding: 0 50px;
}

.c-form__title {
  font-size: 3.5em;
}

.c-form__description {
  font-size: 1.5em;
  line-height: 1.5;
}

.c-form__label {
  font-size: 1em;
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

.c-form__label--small {
  margin: 5px 0;
}

.c-form__input {
  width: 100%;
  font-family: "EB Garamond", serif;
  font-size: 1.2em;
  border: 1px solid #b3b3b3;
  background: #fcfcfc;
  padding: 5px;
  border-radius: 2px;
  outline: none;
}

.c-form__input-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.c-form__input-division {
  width: 49%;
}

.c-form__radio {
  margin-right: 5px;
  cursor: pointer;
}

.c-form__button {
  -webkit-box-sizing: initial;
          box-sizing: initial;
  margin-top: 20px;
  font-family: "Barlow Condensed", sans-serif;
  color: #FFF;
  background: #141516;
  border: none;
  letter-spacing: 3px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 2em;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  outline: none;
  border-radius: 5px;
}

.c-form__button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.c-form__button:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  background: #5d6266;
}

@media screen and (max-width: 768px) {
  .c-form__button {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 414px) {
  .c-form {
    font-size: 14px;
    padding: 0;
  }
  .c-form__button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-inspiration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.c-inspiration__left {
  width: 40%;
}

.c-inspiration__right {
  width: 60%;
}

.c-inspiration__img {
  width: 100%;
}

.c-inspiration__title {
  font-size: 4em;
  position: absolute;
  width: 70%;
  line-height: 1.5;
  margin-top: 0;
}

.c-inspiration__title-highlight {
  background: #FAFAFA;
}

.c-inspiration__text {
  font-size: 1.3em;
  position: absolute;
  bottom: 0;
  width: 40%;
  padding-right: 3px;
  margin-bottom: 0;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .c-inspiration {
    font-size: 12px;
  }
}

@media screen and (max-width: 414px) {
  .c-inspiration {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-inspiration__left, .c-inspiration__right {
    width: 100%;
  }
  .c-inspiration__title {
    font-size: 2.8em;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .c-inspiration__text {
    margin: 10px 0 0 0;
    position: initial;
    width: 100%;
  }
}

.c-quote {
  margin: 50px 0;
}

.c-quote__title {
  text-align: center;
  font-style: italic;
  font-weight: normal;
}

.c-quote__text {
  font-size: 1.2em;
}

@media screen and (max-width: 768px) {
  .c-quote {
    font-size: 14px;
  }
}

.c-gallery {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.c-gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 768px) {
  .c-gallery {
    gap: 10px;
    -ms-grid-columns: (230px)[3];
        grid-template-columns: repeat(3, 230px);
    grid-auto-rows: 230px;
  }
}

@media screen and (max-width: 414px) {
  .c-gallery {
    width: 100%;
    -ms-grid-columns: (150px)[2];
        grid-template-columns: repeat(2, 150px);
    grid-auto-rows: 150px;
    margin: 30px auto;
  }
  .c-gallery__img--forced {
    height: 250px;
  }
}

@media screen and (max-width: 320px) {
  .c-gallery {
    -ms-grid-columns: (130px)[2];
        grid-template-columns: repeat(2, 130px);
    grid-auto-rows: 130px;
  }
}

.c-fixed {
  height: 70vh;
  background-image: url("../img/fantasmic.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (max-width: 414px) {
  .c-fixed {
    height: 60vh;
  }
}

.form-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.form-container__img {
  width: 100%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media screen and (max-width: 414px) {
  .form-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px 0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.c-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
}

.c-logo__x {
  width: 50%;
}

.c-logo__letters {
  width: 50%;
}
/*# sourceMappingURL=style.css.map */