$text-color-dark: #141516;
$text-color-light: #FFF;
$body-color: #FAFAFA;
$divider-color: #BDBDBD;
$accent-font: 'Barlow Condensed', sans-serif;
$accent-font-weight: 500;
$accent-font-spacing: 1px;
$main-font: 'EB Garamond', serif;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: $text-color-dark;
    font-family: $main-font;
    background: $body-color;
}


@mixin ipad {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin iphone-8-plus {
    @media screen and (max-width: 540px) {
        @content;
    }
}

@mixin iphone-x {
    @media screen and (max-width: 375px) {
        @content;
    }
}

@mixin iphone-5 {
    @media screen and (max-width: 320px) {
        @content;
    }
}


.wrapper {
    // border: 2px solid indigo;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 5px;
    height: inherit;
    @include iphone-8-plus {
        width: 95%;
        padding: 0;
    }
}

.wrapper-mini {
    width: 70%;
    margin: 0 auto;
    // border: 2px solid red;
    @include iphone-8-plus {
        width: 100%;
        margin: 0;
    }
}

.text {
    line-height: 1.5;
    font-size: 1.2em;
    &--disclaimer {
        text-align: center;
        margin:0px;
        &:nth-of-type(1) {
            margin-top: 25px;
        }
    }
}

.hero {
    color: $text-color-light;
    // border: 1px solid yellow;
    height: 80vh;
    background: #3949ab;
    background-image: url('../img/disney-castle.jpg');
    // background: url('../img/disney.gif');
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;

    &__video {
        min-width: 100%;
        max-width: 100%;
        height: inherit;
        object-fit: cover;
        border-radius: 1px;
    }

    &__content {
        // background: teal;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100% - 150px);
        // border: 1px solid red;
    }
    @include iphone-8-plus {
        height: 75vh;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $accent-font;
    min-height: 150px;

    &__logo {
        width: 150px;
    }
    
    @include iphone-8-plus {
        min-height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: white;
    }

}
@import './components/reset';
@import './utils/highlighter';
@import './components/alert';
@import './components/burgerButton';




.link {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}
@import './components/navbar';
@import './components/heading';
@import './components/cta';
@import './components/card';

.trip {
    margin-top: 50px;
    margin-bottom: 150px;
    @include iphone-8-plus {
        margin: 25px 0px;
    }
}

.description {
    margin-top: 25px;
    margin-bottom: 70px;
}

.packages-container {
    // border: 1px solid black;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;

    @include iphone-8-plus {
        grid-template-columns: 1fr;
    }
}

@import './components/package';
@import './components/footer';

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 50px;

    @include iphone-8-plus {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@import './components/feature';
@import './components/form';
@import './components/inspiration';
@import './components/quote';
@import './components/gallery';
@import './components/video';

.c-fixed {
    height: 70vh;
    // border: 1px solid black;
    background-image: url('../img/fantasmic.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @include iphone-8-plus {
        height: 60vh;
    }

}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__img {
        width: 100%;
        align-self: end;
    }

    @include iphone-8-plus {
        grid-template-columns: 1fr;
        gap: 20px 0;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.c-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    &__x {
        width: 50%;
    }

    &__letters {
        width: 50%;
    }
}