$text-color-dark: #141516;
$text-color-light: #FFF;
$body-color: #F2F2F2;
$accent-font: 'Barlow Condensed', sans-serif;
$accent-font-weight: 500;
$accent-font-spacing: 1px;
$main-font: 'EB Garamond', serif;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: $text-color-dark;
    font-family: $main-font;
}

.wrapper {
    // border: 2px solid indigo;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 5px;
    height: inherit;
}

.wrapper-mini {
    width: 70%;
    margin: 0 auto;
    // border: 2px solid red;
}

.text {
    line-height: 1.5;
}

.hero {
    color: $text-color-light;
    // border: 1px solid yellow;
    height: 80vh;
    background: #3949ab;
    // background: url('../img/disney.gif');
    background-size: cover;
    position: relative;
    overflow: hidden;

    &__video {
        min-width: 100%;
        height: inherit;
        object-fit: cover;
        border-radius: 1px;
    }

    &__content {
        // background: teal;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100% - 150px);
        // border: 1px solid red;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $accent-font;
    min-height: 150px;
}

.link {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}
@import './components/navbar';
@import './components/heading';
@import './components/cta';
@import './components/card';

.trip {
    padding-top: 25px;
}

.packages-container {
    // border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@import './components/package';
@import './components/footer';

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 50px;
}

@import './components/feature';


.c-form {
    &__title {
        font-size: 3.5em;
    }

    &__description {
        font-size: 1.5em;
        line-height: 1.5;
    }

    &__label {
        font-size: 1em;
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    &__input {
        width: 100%;
        font-family: $main-font;
        font-size: 1.2em;
        border: 1px solid darken($text-color-light, 30%);
        background: darken(#fff, 1%);
        padding: 5px;
        border-radius: 2px;
        outline: none;
    }

    &__input-divider {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__input-division {
        width: 49%;
    }

    // &__button {
    //     font-family: inherit;
    //     color: green;
    //     font-size: 3em;
    // }

    // input [type="submit"] {
    //     font-size: 100px;
    // }
}