.c-alert {
    text-align: center;
    color: #c62828;
    font-size: 1.2em;
    &__message {
        display: inline-block;
        border: 3px solid #c62828;
        padding: 10px 20px; 
    }

    @include iphone-8-plus {
        font-size: 14px;
        &__message {
            padding: 10px 15px;
        }
    }
}