.c-burger-button {
    position: fixed;
    right: 5px;
    box-sizing: initial;
    padding: 10px;
    border-radius: 50%;
    display: none;
    z-index: 999;
    background: $body-color;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    &__line {
        width: 25px;
        height: 5px;
        background: $text-color-dark;
        margin: 4px;
    }

    @include iphone-8-plus {
        display: block;
    }
}