.c-card {
    display: flex;
    align-items: center;

    &__element {
        width: 48%;
        // border: 1px solid gray;
        margin: 0 1%;
    }

    &__img {
        width: 100%;
        max-height: 350px;
        object-fit: cover;
        object-position: center;
        
        &--vertical {
            max-height: initial;
        }
    }

    &__title {
        font-size: 2.5em;
        margin: 0;
    }

    &__text {
        font-size: 1.3em;
    }

    &__link {
        color: $text-color-dark;
        text-decoration: none;
        border-bottom: 1px solid;
        padding-bottom: 3px;
    }

    @include ipad {
        font-size: 14px;
    }

    @include iphone-8-plus {
        flex-direction: column-reverse;

        &__element {
            width: 90%;
        }

        &__title, &__subtitle {
            text-align: center;
        }
    }
}