.c-card {
    display: flex;
    align-items: center;

    &__element {
        width: 48%;
        // border: 1px solid gray;
        margin: 0 1%;
    }

    &__img {
        width: 100%;
        max-height: 350px;
        object-fit: cover;
        object-position: center;
    }

    &__title {
        font-size: 2.5em;
        margin: 0;
    }

    &__text {
        font-size: 1.3em;
    }
}