.c-cta {
    margin-top: 1.5em;
    box-sizing: initial;
    font-size: 1.5em;
    text-decoration: none;
    color: $text-color-light;
    font-family: $accent-font;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 2px solid $text-color-light;
    padding: 12px 24px;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .4s;

    &:hover {
        background: $text-color-light;
        color: black;
    }
}