.c-feature {
    font-family: $main-font;
    box-sizing: initial;
    padding: 30px 0;
    &__subtitle {
        font-family: $accent-font;
        letter-spacing: $accent-font-spacing;
        font-weight: $accent-font-weight;
        text-transform: uppercase;
    }

    &__title {
        font-size: 2em;
        margin: 0;
        font-weight: normal;
    }

    &__text {
        line-height: 2;
        margin: 20px 0;
    }

    &__cta {
        color: $text-color-dark;
        text-decoration: none;
        border-bottom: 1px solid;
        padding-bottom: 3px;
        // transition: linear all .2s;


        &:hover {
            font-weight: bold;
        }
    }
}