.c-form {
    padding: 0 50px;
    &__title {
        font-size: 3.5em;
    }

    &__description {
        font-size: 1.5em;
        line-height: 1.5;
    }

    &__label {
        font-size: 1em;
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;

        &--small {
            margin: 5px 0;
        }
    }

    &__input {
        width: 100%;
        font-family: $main-font;
        font-size: 1.2em;
        border: 1px solid darken($text-color-light, 30%);
        background: darken(#fff, 1%);
        padding: 5px;
        border-radius: 2px;
        outline: none;
    }

    &__input-divider {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__input-division {
        width: 49%;
    }
    
    // TODO: BUTTON STYLES 
    &__button {
        font-family: $accent-font;
        color: green;
        font-size: 3em;
    }
}