.c-form {
    padding: 0 50px;
    &__title {
        font-size: 3.5em;
    }

    &__description {
        font-size: 1.5em;
        line-height: 1.5;
    }

    &__label {
        font-size: 1em;
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;

        &--small {
            margin: 5px 0;
        }
    }

    &__input {
        width: 100%;
        font-family: $main-font;
        font-size: 1.2em;
        border: 1px solid darken($text-color-light, 30%);
        background: darken(#fff, 1%);
        padding: 5px;
        border-radius: 2px;
        outline: none;
    }

    &__input-divider {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__input-division {
        width: 49%;
    }

    &__radio {
        margin-right: 5px;
        cursor: pointer;
    }
    
    &__button {
        box-sizing: initial;
        margin-top: 20px;
        font-family: $accent-font;
        color: $text-color-light;
        background: $text-color-dark;
        border: none;
        letter-spacing: 3px;
        padding: 10px 30px;
        text-transform: uppercase;
        font-size: 2em;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
        outline: none;
        border-radius: 5px;

        &:hover {
            transform: translateY(-5px);
        }

        &:active {
            transform: translateY(5px);
            background: lighten($text-color-dark, 30%);
        }
    }

    @include ipad {
        &__button {
            font-size: 1.5em;
        }
    }
}