.c-gallery {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 300px));
    justify-content: center;
    gap: 30px;

    &__img {
        width: 100%;
    }

    @include ipad {
        gap: 10px ;
    }
}