.c-gallery {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 300px;
    justify-content: center;
    gap: 30px;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @include ipad {
        gap: 10px ;
        grid-template-columns: repeat(3, 230px);
        grid-auto-rows: 230px;
    }

    @include iphone-8-plus {
        width: 100%;
        grid-template-columns: repeat(2, 150px);
        grid-auto-rows: 150px;
        margin: 30px auto;
        
        &__img {
            &--forced {
                height: 250px;
            }
        }
    }
    
    @include iphone-5 {
        grid-template-columns: repeat(2, 130px);
        grid-auto-rows: 130px;
    }
}