.c-gallery {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 300px));
    justify-content: center;
    gap: 30px;

    &__img {
        width: 100%;
        &--forced {
            // height: 100%;
            height: 400px;
            object-fit: cover;
        }
    }

    @include ipad {
        gap: 10px ;
    }

    @include iphone-8-plus {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        margin: 30px auto;

        &__img {
            &--forced {
                height: 250px;
            }
        }
    }
}