.c-heading {
    font-size: 16px;
    &--main {
        text-align: center;
        font-size: 24px;
        line-height: 1;
        text-shadow: 0px 0px 1px #000000;
    }
    
    &--inverted {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    
    &__subtitle {
        font-size: 1em;
        font-family: $accent-font;
        font-weight: $accent-font-weight;
        letter-spacing: $accent-font-spacing;
        text-transform: uppercase;
        margin: 0;
    }

    &__title {
        font-family: $main-font;
        font-size: 4em;
        margin: 0;
    }

    @include ipad {
        font-size: 10px;
        text-align: center;
    }
}