.c-inspiration {
    display: flex;
    position: relative;
    
    &__left {
        width: 40%;
    }

    &__right {
        width: 60%;
    }

    &__img {
        width: 100%;
    }

    &__title {
        font-size: 4em;
        position: absolute;
        width: 70%;
        line-height: 1.5;
        margin-top: 0;
    }
    
    &__title-highlight {
        background: $body-color;
    }

    &__text {
        font-size: 1.3em;
        position: absolute;
        bottom: 0;
        width: 40%;
        padding-right: 3px;
        margin-bottom: 0;
        line-height: 1.5;
    }

    @include ipad {
        font-size: 12px;
    }

    @include iphone-8-plus {
        position: relative;
        flex-direction: column-reverse;
        align-items: center;

        &__left, &__right {
            width: 90%;
        }

        &__title {
            font-size: 2.8em;
            position: absolute;
            top: 0;
            width: 90%;
        }

        &__text {
            margin: 10px 0 0 0;
            position: initial;
            width: 100%;
        }
    }
}