.c-navbar {
    font-size: 1.4em;
    &--hero {
        text-shadow: 0px 0px 1px #000000;
    }
    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        margin-right: 15px;
    }

    @include iphone-8-plus {
        color: $text-color-light;
        position: fixed;
        z-index: 10;
        // background: darken($body-color, 35%);
        background: #3949ab;
        top: 0;
        right: -50vw;
        // right: 0;
        width: 50vw;
        height: 100vh;
        box-shadow: -2px 0px 3px 0px rgba(0,0,0,0.15);
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;

        &--hero {
            text-shadow: none;
        }

        &--active {
            right: 0;
        }


        &__list {
            width: 100%;
            height: 100%;
            padding: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__item {
            opacity: 0;
            margin: 15px 0;
        }
    }
}