.c-navbar {
    font-size: 1.4em;
    &--hero {
        text-shadow: 0px 0px 1px #000000;
    }
    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        margin-right: 15px;
    }

    @include iphone-8-plus {
        position: fixed;
        z-index: 10;
        background: gray;
        top: 0;
        right: -50vw;
        // right: 0;
        width: 50vw;
        height: 100vh;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;

        &--active {
            right: 0;
        }


        &__list {
            width: 100%;
            height: 100%;
            padding: 0;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}