.c-navbar {
    font-size: 1.4em;
    &--hero {
        text-shadow: 0px 0px 1px #000000;
    }
    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        margin-right: 15px;
    }
}