.c-package {
    text-align: center;
    &__title {
        font-size: 1.5em;
    }

    &__price {
        font-size: 3.5em;
        margin: 0;
    }

    &__tax {
        font-size: 1.6em;
        font-family: $accent-font;
        letter-spacing: $accent-font-spacing;
    }

    &__lists-container {
        padding-top: 25px;
        border-top: 1px solid $divider-color;
    }

    &__list {
        text-align: left;
        font-family: $accent-font;
        letter-spacing: $accent-font-spacing;
        font-weight: $accent-font-weight;
    }
    
    &__list-item {
        font-size: 1.2em;
        margin: 12px 0;
        list-style-position: inside;
        
        &--unbullet {
            list-style: none;
        }
    }

    @include ipad {
        font-size: 14px;

        &__title {
            margin: 0;
        }

        &__list-item {
            font-size: 1.3em;
        }
    }

    @include iphone-8-plus {
        border-bottom: 1px solid $divider-color;
        margin-top: 30px;

        &__lists-container {
            border: none;
        }
    }
}

.highlight {
    padding:0 5px;
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

::selection {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}