.c-package {
    text-align: center;
    &__title {
        font-size: 1.5em;
    }

    &__price {
        font-size: 3.5em;
        margin: 0;
    }

    &__tax {
        font-size: 1em;
        font-family: $accent-font;
        letter-spacing: $accent-font-spacing;
    }

    &__list {
        text-align: left;
        font-family: $accent-font;
        letter-spacing: $accent-font-spacing;
        font-weight: $accent-font-weight;
    }
    
    &__list-item {
        margin: 12px 0;
        list-style-position: inside;
        
        &--unbullet {
            list-style: none;
        }
    }

    @include ipad {
        font-size: 14px;

        &__title {
            margin: 0;
        }

        &__list-item {
            font-size: 1.3em;
        }
    }

    @include iphone-8-plus {
        border-bottom: 1px solid $divider-color;
        margin-top: 30px;
    }
}