.c-quote {
    margin: 50px 0;
    &__title {
        text-align: center;
        font-style: italic;
        font-weight: normal;
    }

    &__text {
        font-size: 1.2em;
    }

    @include ipad {
        font-size: 14px;
    }
}