.c-video {
    &__title {
        text-align: center;
        font-size: 2em;
    }

    &__container {
        position: relative;
        padding-top: 56.25%;
        // margin: 0 auto;
    }

    &__source {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}